@import "/assets/nav.css";
@import "/assets/hero.css";
@import 'node_modules/tailwindcss/base';

@import url(https://fonts.google.com/share?selection.family=Sorts+Mill+Goudy:ital@0;1);

*{
   
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}; 

h1{
    font-family: "Sorts Mill Goudy", serif;
}
 

